.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.login-section img{
    height: 550px;
    width: 500px;

}
    

 .login-info { 
    border: 2px solid rgb(68, 68, 68);
    height: 400px;
    width: 300px;
    background-color: rgb(253, 239, 219);
    border-radius: 30px;
 }
  .login-info h1{
    text-align: center;
  }
  .log-text{
    display: flex;
    justify-content: center;
    
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .log-text label{
    margin: 30px;
    
  }
  .login-info input{
    padding: 10px;
  }